html, body {
    height: 100%;
    overflow: hidden;
}

body {
    margin: 10px;
}

#network {
    width: 100%;
    height: 100%;
}

#header-container {
    border-bottom-color: black;
}

#headline {
    max-width: 1000px;
    padding: 0 16px;
    margin: 0 auto;
    display: flex;
    font-size: 1.15em;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

#navbar-brand {
    position: relative;
}

#subtitle {
    position: absolute;
    top: 30px;
    left: 50px;
    width: max-content;
    color: white;
}

#back-button {
    color: white;
}

#help-button {
    z-index: 1000;
    position: fixed;
    top: 70px;
    right: 40px;
}

#help-panel-container {
    display: none;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: black;
}

#help-panel {
    margin-top: 60px;
    max-height: 400px;
    overflow: auto;
}