html, body {
    height: 100%;
    overflow: hidden;
    font-family: "SF Pro SC","SF Pro Text","SF Pro Icons","PingFang SC","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

body {
    margin: 10px;
}

#network {
    width: 100%;
    height: 100%;
}

a {
    color: #909090;
}

#header-container {
    border-bottom: 1px solid black;
}

#headline {
    max-width: 1000px;
    padding: 0 16px;
    margin: 0 auto;
    display: flex;
    font-size: 1.15em;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

#navbar-brand {
    position: relative;
}

#subtitle {
    position: absolute;
    top: 30px;
    left: 50px;
    width: max-content;
    color: #909090;
}

.right-header {
    margin: 0;
    padding: 0;
}

.right-header li {
    list-style: none;
    display: inline-block;
    padding: 0 18px;
}

#home-button {
    text-decoration: none;
    cursor: pointer;
    color: #909090;
}

#theme-button {
    cursor: pointer;
}

#loading-text {
    color: gray;
}

#help-button {
    z-index: 1000;
    position: fixed;
    top: 70px;
    right: 10px;
}

#help-panel-container, #article-panel-container {
    display: none;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: black;
}

#help-panel, #article-panel {
    margin-top: 65px;
    max-height: 400px;
    max-width: 400px;
    overflow: auto;
    z-index: 1000;
}

#help-panel-list-group {
    text-align: center;
}

.bootstrap-select {
    z-index: 1000;
    position: fixed;
    top: 70px;
    left: 10px;
    color: black;
}

#feedback-button {
    z-index: 1000;
    position: fixed;
    bottom: 10px;
    right: 10px;
    -webkit-appearance: initial!important;
}